.home {
  flex-shrink: 1;
  padding-right: 32px;
  justify-content: center;
  display: flex;
  padding-left: 32px;
  flex-direction: row;
  position: relative;
  flex-grow: 1;
  flex-wrap: nowrap;
  align-items: stretch;
  z-index: 0;
  flex-basis: 766px;
}
.body {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-wrap: nowrap;
  justify-content: center;
  background-color: white;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  position:relative;
  top: 56px;
  min-height: 380;
}

.content-seven{
    display: flex;
    flex-direction: row;
    position: relative;
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0;
    display: flex;
    min-height: inherit;
    justify-content: space-between;
}