.navbar-page{
        flex-grow: 1;
        min-width: 50px;
        max-width: 116px;
}
.navbar-page-tab{
        display: flex;
        align-items: center;
        position: relative;
        height: 56px;
}
.navbar-page-link{
        justify-content: center;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        touch-action: manipulation;
        align-items: center;
        position: relative;
        text-decoration: none;
        cursor: pointer;      
        height: 100%;      
        width: 100%;           
}
.navbar-page-label{
    position: relative;
}