.navbar-page{
        flex-grow: 1;
        min-width: 50px;
        max-width: 116px;
}
.navbar-page-tab{
        display: flex;
        align-items: center;
        position: relative;
        height: 56px;
}
.navbar-page-link{
        justify-content: center;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        touch-action: manipulation;
        align-items: center;
        position: relative;
        /* padding-bottom: 0;
        outline: none;
        outline-style: none;*/
        text-decoration: none;
       /* margin-left: 0;      
        margin-top: 0;      
        padding-left: 0;      
        margin-right: 0;       */
        cursor: pointer;      
        height: 100%;      
        /* margin-bottom: 0;      
        list-style: none;       */
        width: 100%;     
        /* background-color: transparent;     
        border-bottom-right-radius: inherit;      
        border-top-left-radius: inherit;      
        border-right: 0;     
        border-bottom-left-radius: inherit;      
        border-top-right-radius: inherit;     
        border-top: 0;      
        border-bottom: 0;      
        border-left: 0; */
      
}
.navbar-page-label{
    position: relative;
}