.list-item {
    justify-content: space-between;
    padding-top: 0;
    flex-grow: 1;
    display: flex;
    z-index: 0;
    box-sizing: border-box;
    padding-right: 8px;
    min-width: 0;
    padding-left: 8px;
    position: relative;
    flex-direction: row;
}
.list-item-photo {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    position: relative;
    display: inline-block;
    
}
.list-item-photo-image{
    border-radius: 50%;
}
.list-item-name {
    justify-content: space-between;
    padding-right: 0;
    padding-top: 0;
    padding-left: 7px;
    flex-grow: 1;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    position: relative;
    padding-bottom: 0;
    flex-direction: row;
    font-size: 20px;
}